* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
}

hr {
  color: rgb(245, 237, 237);
}

/* NAV */
nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  height: 43px;
  border: 1px solid rgb(250, 222, 222);
  align-items: center;
  justify-content: space-between;
}

.first div {
  margin-left: 18px;
}

.nav-title {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 19px;
}

.nav-title a {
  text-decoration: none;
  color: black;
}

.third {
  margin-right: 20px;
}

.third div {
  margin-right: 10px;
}

.third button {
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 10px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 11px 12px 8px;
  text-transform: uppercase;
}

/* END OF NAV */

/* ASIDE SECTION */

aside {
  position: absolute;
  left: 78vw;
  top: 280vh;
  width: 200px;
}

.aside-card {
  width: 100%;
  height: 100px;
}

aside img {
  width: 40%;
  float: left;
  margin-right: 5px;
}

aside p {
  font-size: 0.9rem;
  color: grey;
}

/* END OF ASIDE SECTION */

/* HEADER SECTION */

.header-title h1 {
  color: #121212;
  font-family: georgia, 'times new roman', times, serif;
  font-weight: 700;
  font-style: italic;
  max-width: 600px;
  margin: auto;
  line-height: 1.5;
  font-size: 2.1rem;
  margin-bottom: 1rem;
}

#header-line {
  max-width: 600px;
  margin: auto;
  color: rgb(235, 224, 224);
}

/* Main part of the article */

main {
  padding-top: 4rem;
}

.header-section {
  width: 80vw;
  margin: auto;
}

.share {
  max-width: 600px;
  margin: 30px auto 30px;
  align-items: center;
}

.share span,
.social-share span {
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(245, 224, 224);
  margin-right: 20px;
  cursor: pointer;
}

.share img,
.social-share img {
  width: 15px;
  height: 15px;
}

.header-pic img {
  max-width: 100%;
  cursor: pointer;
}

.cap {
  color: grey;
}

.credit {
  color: grey;
  font-size: 0.85rem;
  margin-bottom: 2rem;
}

figure {
  margin-bottom: 2rem;
}

figure hr {
  width: 100px;
}

/* END OF HEADER SECTION */

/* ARTICLE SECTION */
.article-body {
  width: 50vw;
  margin: auto;
}

#author {
  font-size: 0.9rem;
  margin-top: 2rem;
  margin-bottom: 0.9rem;
  font-weight: bold;
  font-family: sans-serif;
  color: #111;
}

#date {
  margin-bottom: 2rem;
}

.article-text p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* ARTICLE SECTION */

.cta {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.cta p {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.001em;
}

.cta .blue {
  color: rgb(8, 8, 109);
  cursor: pointer;
}

.cta hr {
  width: 4rem;
  margin: 1rem auto;
  color: white;
}

.cta2 {
  justify-content: space-between;
  margin: 2rem 0;
  padding-top: 1rem;
  border-top: 1px solid grey;
}

.cta2 button {
  padding: 0 10px;
  min-width: 110px;
  max-height: 2rem;
  background: transparent;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

iframe {
  height: 315px;
  border: none;
}

.article-text iframe {
  width: 100%;
}

.article-end {
  margin-top: 20px;
}

.article-end p {
  font-size: small;
}

.theory {
  width: 100%;
  margin-left: -150px;
  margin-top: 3rem;
}

#theory-text {
  width: 150%;
  color: grey;
}

.theory-chart {
  min-width: 150%;
  margin-top: 3rem;
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.grid-element {
  margin-top: 150px;
}

.bold {
  font-size: 0.85rem;
}

.theory-chart img {
  width: 100%;
}

.comments-share {
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.comments-button {
  padding: 10px 100px;
  background-color: rgb(90, 130, 169);
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid rgb(50, 104, 145);
  letter-spacing: 0.05em;
}

.last p {
  line-height: 0.8;
  font-size: 0.7rem;
}

/* Extra section */

.newsec {
  justify-content: space-evenly;
}

.column {
  flex-direction: column;
}

.extra {
  margin-left: 30px;
}

.top {
  width: 67vw;
}

.grid-card-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 67vw;
}

.cards {
  width: 270px;
  height: 270px;
  margin: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.cards img {
  width: 100%;
}

.sm-image {
  justify-content: space-between;
  padding: 10px;
}

.sm-image img {
  width: 80px;
  height: 80px;
  margin-bottom: 0;
}

.sm-image-text {
  margin: 10px;
}

.border {
  border: 1px solid grey;
  margin-bottom: 30px;
}

.sm-image button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: 1.5px solid black;
  font-weight: bold;
  font-size: 1.1rem;
}

.duration {
  font-size: 0.8rem;
  margin-top: 0;
}

.sm-title {
  font-weight: bold;
}

.sm-para {
  font-family: sans-serif;
  font-size: 0.95rem;
}

.extra-cta {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 45px;
  font-weight: bold;
  font-size: 0.9rem;
  color: rgb(50, 104, 145);
}

.popular {
  width: 340px;
  border-top: 1px solid black;
}

.popular p {
  margin: 12px 0;
  width: 340px;
  font-size: 1.1rem;
  cursor: pointer;
}

.space-title {
  font-weight: bold;
  margin: 10px 5px;
  font-size: 1rem;
  justify-content: space-between;
  cursor: pointer;
  font-family: sans-serif;
}

#dont-show {
  font-size: 0.85rem;
  color: grey;
  font-family: sans-serif;
}

.write-comment {
  max-width: 600px;
  margin: 1rem auto 4.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form-title {
  font-size: 1.2rem;
  margin: 1rem auto 1.2rem;
}

[type="text"]{
  width: 450px;
  height: 30px;
  margin: 7px 0 20px;
}

textarea{
  width: 450px;
  height: 140px;
  margin: 7px 0 20px;
}

form [value="neutral"]{
  margin-bottom: 20px;
}

[type="submit"]{
  margin: 1rem auto;
  width: 150px;
  height: 2rem;
  font-size: 1.1rem;
  background-color: green;
  color: white;
  border: none;
}

[type="submit"]:hover{
  background-color: lightgreen;
}

/* footer */
footer {
  height: 78vh;
  width: 94vw;
  margin: 2rem auto 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

#to-home {
  font-size: 0.7rem;
  color: blue;
  cursor: pointer;
}

.footer-header {
  justify-content: space-between;
  height: 30px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.footer-title {
  font-weight: bold;
}

.footer-body {
  gap: 4rem;
  margin-left: 20px;
}

.footer-body p {
  margin-top: 0.7rem;
  text-transform: capitalize;
  line-height: 1;
  font-size: 0.85rem;
}

.news {
  margin-right: 30px;
}

.subscribe {
  flex-direction: column;
  margin-left: 3rem;
  padding-top: 0;
  padding-left: 10px;
  border-left: 1px solid grey;
}

.last {
  margin-bottom: 10px;
}

.logo {
  width: 13rem;
}

.footer2 {
  height: 50px;
  border-top: 1px solid rgb(240, 208, 208);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: grey;
  font-size: 0.7rem;
  margin-top: 20px;
}

.footer2-list {
  justify-content: space-evenly;
  list-style: none;
  padding-top: 10px;
}

.footer-icons {
  width: 12px;
  margin-right: 5px;
}

/* End of footer */
